.item {
  padding: 10px 15px;
  display: flex;
  position: relative;
}

.item:active, .item:focus {
  background-color: #e8e8e8;
}

.item::after {
  left: 0;
  right: 0;
  width: auto;
  transform: scale(1, .5);
  content: '';
  position: absolute;
  top: 0;
  height: 200%;
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.item--align-items-center {
  align-items: center;
}

.item__main {
  flex: 1;
}

.item__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333;
}

.item__desc {
  font-size: 12px;
  line-height: 1.2;
  color: #666;
}

.item__icon {
  color: #999;
}

.item__status {
  color: #f44;
}

.item__title, .item__desc {
  margin: 0;
}

.cell-group {
  padding: 10px 0;
}

.button-container {
  padding: 10px 15px;
}

.picker {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.slide-enter-active {
  animation: slide-in .5s;
}

.slide-leave-active {
  animation: slide-in .5s reverse;
}

@keyframes slide-in {
  0% {
    bottom: -260px;
  }
  100% {
    bottom: 0;
  }
}
